
# GEMINI AI API
GEMINI_API_KEY=put_your_key_here

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://<YOUR_LINK_HERE>:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://<YOUR_LINK_HERE>:5432/postgres"

# JWT salt
NEXTAUTH_SECRET=put_your_generated_secret_here

# Base site url
NEXTAUTH_URL=http://localhost:3000