@import "tailwindcss";

@theme {
  --breakpoint-xmd: 58rem;
  --breakpoint-xs: 33rem;

  --color-main-light: #f9faff;
  --color-accent-light: #dee0e5;

  --color-error-main: #fcedea;
  --color-error-accent: #f2bcb2;

  --color-red-main: #d9281c;

  --color-success-main: #ebf7ee;
  --color-success-accent: #b5e1c0;

  --color-pfp: #741de2;

  --color-black-base: #14151a;
  --color-black-accent: #0f132499;
  --color-black-secondary: #0b0c0e;
  --color-black-tertiary: #0a0f2940;

  --color-white-base: #ffffff;
  --color-white-accent: #ffffff99;
  --color-white-secondary: #f7f7f8;
  --color-white-tertiary: #e9eaec;

  --color-gray-base: #727374;
  --color-gray-accent: #ffffff52;

  --color-placeholder: #9ea0a8;
  --color-border: #dee0e3;
  --color-border-accent: #ffffff24;
  --color-border-secondary: #0a0f2914;

  --tracking-base: -0.01em;
  --leading-base: 143%;
  --leading-large: 186%;
  --leading-small: 111%;

  --text-heading: 22px;
  --text-small: 12px;

  --radius-large: 10px;

  --shadow-info-main:
    0 3px 10px -2px rgba(20, 21, 26, 0.02),
    0 10px 16px -3px rgba(20, 21, 26, 0.05);
  --shadow-context:
    0 3px 6px -2px rgba(20, 21, 26, 0.05),
    0 10px 16px -3px rgba(20, 21, 26, 0.08);
  --shadow-filter: 0 6px 13px 0 rgba(20, 21, 26, 0.07);
  --shadow-input: 0 1px 2px 0 rgba(20, 21, 26, 0.05);
  --shadow-icon: 0 7px 8px 0 rgba(63, 68, 71, 0.2);

  @keyframes skeleton-shimmer {
    0% {
      background-position: 200% 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      background-position: -200% 0;
    }
  }

  --animate-skeleton: skeleton-shimmer 2s linear infinite;

  @keyframes cta-click {
    0% {
      scale: 0.8;
    }

    100% {
      scale: 1;
    }
  }

  --animate-cta-click: cta-click 0.6s ease-in-out;
}

@layer components {
  .base-transition {
    @apply transition-all duration-200 ease-out;
  }

  .auth-page-container {
    @apply bg-main-light relative flex h-full flex-col items-center justify-center;
  }

  .auth-container {
    @apply border-accent-light m-5 flex flex-col rounded-2xl border bg-white p-5 text-center sm:m-0 sm:p-10;
  }

  .auth-heading {
    @apply sm:text-heading tracking-base text-black-base text-lg leading-9 font-medium;
  }

  .auth-text {
    @apply tracking-base text-black-accent mt-2 text-sm leading-4 sm:text-base;
  }

  .page-container {
    @apply xmd:p-10.5 xmd:pl-14.5 xs:p-8 flex h-full w-full flex-col overflow-hidden p-5;
  }

  .pagination-btn {
    @apply xs:size-8 xs:p-2 xs:text-base flex size-6 cursor-pointer items-center justify-center rounded-lg p-1.5 text-sm transition-all duration-200 ease-out hover:bg-gray-100 active:scale-85 sm:size-10 sm:rounded-xl sm:p-2.5;
  }

  .pagination-btn-number {
    @apply tracking-base text-black-accent leading-[150%] font-medium;
  }

  .skeleton-element {
    @apply animate-skeleton bg-[linear-gradient(90deg,#eff1f3_25%,#e2e2e2_50%,#eff1f3_75%)] bg-size-[200%_100%];
  }

  .burger-element {
    @apply relative h-1 w-7 rounded-full bg-white transition-all duration-300;
  }

  .close-button {
    @apply text-black-base hover:bg-white-tertiary hover:text-black-accent active:bg-white-tertiary active:text-black-accent tracking-base leading-base shadow-input rounded-large border-border w-full cursor-pointer border bg-white px-2.5 py-1.5 text-center text-sm font-medium transition-all duration-200 ease-out active:scale-90;
  }
}

html,
body {
  height: 100dvh;
}
